.myContainter {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
}

label {
  font-size: 14px;
  color: #424242;
}


.react-datepicker__input-container {
  min-width: 160px;
} 

.myDateLarge {
  width: 100%;
  font-size: 16px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 8px 10px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  color : black;    
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}

.myDateSmall {
  width: 100%;
  font-size: 16px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 8px 10px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  color : black;
  min-width: 100px;
  max-width: 180px;
}

@media only screen and (max-width: 960px) {
  .dateBoxLarge {
    display: none;
    /* position: absolute; */
  }
  .dateBoxSmall {
    display: flex;
    flex-flow: column;
  }
}

@media only screen and (min-width: 960px) {
  .dateBoxLarge {
    display: flex;
    flex-flow: column;
    /* position: absolute; */
  }
  .dateBoxSmall {
    display: none
  }
}
